## Log submission Scenarios for Metro

#### Instructions
- Create a fork of the [verification-logs](https://github.com/ONDC-Official/verification-logs) repository. 
- Create a folder with the name of your entity under your domain folder "TRV11" for metro
- Commit your logs in the folder (logs should include request & response payloads for all enabled APIs as per the scenarios below)
- Create PR and label it with your domain name
- Once submitted, please refer to the comments on logs submitted and update the PR based on the comments provided
- Once the reviews are done, the PR will be merged and the logs shall be considered as approved on pr merge


<!-- ### Scenarios -->
*Note: Log verification will follow a FIFO model with a TAT of 4 days*