[submodule "mobility-core"]
	path = mobility-core
	url = https://github.com/beckn/mobility.git
	branch = main
[submodule "beckn-core"]
	path = beckn-core
	url = https://github.com/beckn/protocol-specifications.git
	branch = master
